In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
from scipy.stats import zscore

In [2]:
def extract_data(source):
    """
    Load multiple excel files into one pandas dataframe
    :param source: source path
    :return: dataframe
    """

    # read files
    path = Path(source)
    # create empty dataframe
    df = pd.DataFrame()
    # iterate all files
    for file in path.iterdir():
        df = df.append(pd.read_excel(file, engine="openpyxl"))

    return df

In [3]:
df = extract_data("../data/")
df.shape

(97758, 43)

In [4]:
def transform_data(df, name):
    """
    filter only GBK data.
    :param df: main dataframe
    :param name: franchisee name
    :return dataframe
    """
    # # select only specific franchisee and franchisee activity
    # df = df.loc[df["Franchisee"].str.contains("GBK")]
    # rename columns to lowercase and add underscore between column names
    df.columns = df.columns.str.lower()
    df.columns = df.columns.str.replace(" ", "_")

    # sort values by date of transaction, user and transaction type
    df.sort_values(["date_of_transaction", "user", "transaction_type"], inplace=True)

    # select franchisee based on name
    df = df.loc[df["user"].str.contains(name) & df["user_type"].str.contains("Franchisee")]

    # drop unnecessary columns
    df.drop(columns=["transaction_sl", "user_id", "country", "user_estd_date", "transaction_type_level_2",
        "cost_name", "service", "attribute", "customer_name", "customer_id", "usd_net_amount", "currency_(iso_code)",
        "is_imported", "transaction_at", "exchange_rate"], inplace=True)
    df.reset_index(drop=True, inplace=True)

    # return df
    return df

In [13]:
gbk = transform_data(df, "GBK")
gbk.shape

/home/reza/lcp/gbk/venv/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

(10295, 28)

In [14]:
def transactional_acitivity(df):
    """
    from the franchisee dataframe determine transactional activities
    :param df: franchisee dataframe
    :return dataframe
    """
    # return transactional activity
    # groupby date of transaction, transaction type, business category, product category & transaction id
    df = df.groupby(["date_of_transaction", "transaction_type", "business_category", "product_category",
            "transaction_id"], as_index=False) \
        .agg(unique_product = ("transaction_id", "count"),
            total_amount = ("net_amount", "sum"))
    
    # find daily number of transactions
    num_transaction = df.groupby("date_of_transaction", as_index=False)["transaction_id"].count()
    # convert date of transaction to datetime
    num_transaction["date_of_transaction"] = pd.to_datetime(num_transaction["date_of_transaction"])

    # groupby date of transaction, transaction type & product category & unstack the dataframe
    df = df.groupby(["date_of_transaction", "transaction_type"]) \
        .agg(total_amount = ("total_amount", "sum")).unstack()
    
    # convert multilevel column to single level & rename column names (list comprehension)
    df.columns = ["_".join(col) for col in df.columns]
    # convert all column names to lowercase
    df.columns = df.columns.str.lower()

    # fill missing dates with 0 for time series analysis
    # create idx based on start and end date of the franchisee activity
    idx = pd.date_range(df.index.min(), df.index.max())
    # set index as datetime index
    df.index = pd.DatetimeIndex(df.index)
    # reindex the dataframe
    df = df.reindex(idx, fill_value=np.nan)

    # reset_index
    df.reset_index(inplace=True)

    # rename index to date of transaction
    df.rename(columns={"index":"date_of_transaction"}, inplace=True)

    # add number of transaction column to the dataframe
    df = df.merge(num_transaction, on="date_of_transaction", how="left")

    # rename transaction id to number of transaction
    df.rename(columns={"transaction_id":"number_of_transaction"}, inplace=True)

    # daily cash-flow
    df["cashout"] = df["total_amount_processing"] + df["total_amount_purchase"]
    df["cashin"] = df["total_amount_sale"]
    # df.drop(columns=["total_amount_processing", "total_amount_purchase", "total_amount_sale"], inplace=True)

    # replace NaN with 0
    df.fillna(0, inplace=True)
    
    return df

In [15]:
gbk = transactional_acitivity(gbk)
gbk.head(30)

,date_of_transaction,total_amount_processing,total_amount_purchase,total_amount_sale,number_of_transaction,cashout,cashin
0,2021-01-01,0.0,3410.00,3524.95,13.0,0.0,3524.95
1,2021-01-02,0.0,0.00,12278.00,15.0,0.0,12278.00
2,2021-01-03,0.0,0.00,30776.00,13.0,0.0,30776.00
3,2021-01-04,0.0,10.00,16715.00,14.0,0.0,16715.00
4,2021-01-05,0.0,0.00,63314.00,27.0,0.0,63314.00
5,2021-01-06,0.0,5000.00,29850.00,5.0,0.0,29850.00
6,2021-01-07,0.0,0.00,15685.00,5.0,0.0,15685.00
7,2021-01-08,0.0,0.00,0.00,0.0,0.0,0.00
8,2021-01-09,0.0,0.00,157026.00,48.0,0.0,157026.00
9,2021-01-10,0.0,0.00,38615.00,10.0,0.0,38615.00
10,2021-01-11,0.0,0.00,30374.00,7.0,0.0,30374.00
11,2021-01-12,0.0,1777.36,126351.25,36.0,0.0,126351.25
12,2021-01-13,0.0,1590.00,46645.90,23.0,0.0,46645.90
13,2021-01-14,0.0,0.00,24087.00,10.0,0.0,24087.00
14,2021-01-15,0.0,0.00,0.00,0.0,0.0,0.00
15,2021-01-16,0.0,0.00,57996.50,29.0,0.0,57996.50
16,2021-01-17,0.0,3551.57,167522.50,37.0,0.0,167522.50
17,2021-01-18,0.0,263474.95,92325.41,35.0,0.0,92325.41
18,2021-01-19,0.0,0.00,40505.00,12.0,0.0,40505.00
19,2021-01-20,0.0,0.00,34915.00,12.0,0.0,34915.00
20,2021-01-21,0.0,0.00,13965.00,6.0,0.0,13965.00
21,2021-01-22,0.0,0.00,0.00,0.0,0.0,0.00
22,2021-01-23,0.0,0.00,47724.00,19.0,0.0,47724.00
23,2021-01-24,0.0,0.00,2050.00,2.0,0.0,2050.00
24,2021-01-25,0.0,0.00,26569.00,16.0,0.0,26569.00
25,2021-01-26,0.0,4292.15,29685.23,25.0,0.0,29685.23
26,2021-01-27,0.0,373124.96,394653.92,30.0,0.0,394653.92
27,2021-01-28,0.0,1419.06,23901.30,19.0,0.0,23901.30
28,2021-01-29,0.0,0.00,0.00,0.0,0.0,0.00
29,2021-01-30,0.0,0.00,24665.00,16.0,0.0,24665.00

In [8]:
if __name__ == "__main__":
    # extract data
    SOURCE_DATA = "../data/"
    df = extract_data(SOURCE_DATA)

    # transform data of a specific franchisee
    name = "GBK"
    gbk = transform_data(df, name)

    # transactional_activity
    gbk = transactional_acitivity(gbk)
    
    print(gbk.head())

  date_of_transaction  number_of_transaction  cashout    cashin
0          2021-01-01                   13.0      0.0   3524.95
1          2021-01-02                   15.0      0.0  12278.00
2          2021-01-03                   13.0      0.0  30776.00
3          2021-01-04                   14.0      0.0  16715.00
4          2021-01-05                   27.0      0.0  63314.00

/home/reza/lcp/gbk/venv/lib/python3.8/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(